<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softwarepatternsca4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StoreSubMenu.UserProductReview"></activity>
        <activity android:name=".StoreSubMenu.ShoppingCart" />
        <activity android:name=".finalViews.AdminPurchaseView" />
        <activity android:name=".finalViews.UserCheckout" />
        <activity android:name=".AdminSubMenu.AdminViewCustomerActivity" />
        <activity android:name=".AdminSubMenu.AdminStockUpdate" />
        <activity android:name=".Menus.AdminActivity" />
        <activity android:name=".Menus.StoreActivity" />
        <activity android:name=".Menus.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>